<script>
  import db from '@/firebase/init'
  import firebase from 'firebase'
  import aad from "./../../ad_auth/authad"
  //import {getAccountAd} from './../../ad_auth/authad'

  import { Account } from 'msal'
  import vlogin from './../../views/Home'

  export default {
    name: 'Navigation',
    user: null,
    data:() =>({
      user_name: "",
      user_logged:""
      
      }),
    created(){
      /*
      firebase.auth().onAuthStateChanged(user =>{
        if(user){
          this.user =user
        }
        else{
          this.user=null
        }
      })
      */
      aad.getAccountAd().then((account)=>{
        if(account !== null){
          this.user_logged = account.userName;
          alert(account.userName);
          alert(this.user_logged);
        }
      })
    },
    methods: {
      login(){
        aad.loginAd().then((account) =>{
        this.user_name =account.userName;
        //alert(this.user_name);
        this.$router.push({name: 'Report'})
        });
      },
      logout:function(){
        /*
        firebase.auth().signOut().then(()=> {
          this.$router.push({name: 'Login'})
        })
        */
        aad.logoutAd();
      },
    }
  }
</script>  

<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.viabcp.com/">
        <img src="../../img/bcp-125anos.ai-converted.png" width="80" height="140"> 
      </a>
      <h3 class="title is-3">Dashboard System</h3>        
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div v-if="user_name===''">         
            <div class="buttons">
              <div class="button is-primary" v-on:click="login()">
                <strong>Log in</strong>
              </div>
              <!--<router-link class="button is-primary" to="/register">
                <strong>Sign in</strong>
              </router-link>
              <router-link class="button is-primary" to="/report">
                <strong>Report</strong>
              </router-link> 
              -->
              <router-link class="button is-primary" to="/issue">
                <strong>Report an issue</strong>
              </router-link> 
          </div>
          </div>
          <div v-else>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"  >
                Usuario
              </a>
              <div class="navbar-dropdown" >
                <hr class="navbar-divider">
                <a class="navbar-item" v-on:click="logout()">
                Log out
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" >
                Report an issue
                </a>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>


