<script>
var username = 100;
//var user_name = '';

import db from '@/firebase/init'
import firebase from 'firebase'
import aad from "./../ad_auth/authad"


export default {
  name: 'Login',
  /*
  data(){
    return{
      email:'',
      password:'',
      error:''
    };
  },
  */
  data:() =>({
  }),
  methods: {
    /*
    login: function(){
        username +=23 ;
    */
        /*
        if (this.email && this.password){
            firebase.auth().signInWithEmailAndPassword(this.email,this.password)
            .then (user => {
                this.email ='' 
                this.password ='' 
                alert(user)
                console.log(user);
                this.$router.push({name: 'Report'})
            },err => {
                alert(err.message);
            }
            );
            //e.preventDefault();
            console.log("hola a todos")
        }
        else{
        this.error="Please check your name/email/password, some of them is wrong"
        }
        console.log("hola a todos" + username)
      */
      
      //username = "hola";
    /*  
      aad.loginAd().then((account) =>{
        this.user_name =account.userName;
        alert(this.user_name);
      });
    }
    */ 
  } 
}
</script>

<template>
  <div class="container mt-50">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h3 class="title is-3">Welcome! </h3><hr>
        <div class="control"></div>
        <!--
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="i.e. javierzarate@gmail.com" >
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Type your password here" >
          </div>
        </div>

          <button v-on:click="login()"  class="button is-primary">Log in</button>
                    
        -->
        
      </div>
    </div>
  </div>
</template>

