<template>
  <div id="app">
    <div id="nav">
      <Navigation>
        <router-link to="/">Home</router-link> 
        <router-link to="/report">report</router-link>
        <router-link to="/register">register</router-link>
      </Navigation>
    </div>
    <router-view/>
  </div>
</template>

<script>
import Navigation from '@/components/layout/Navigation'
export default {
  components: {
    Navigation
  }
}

</script>
<style lang="scss">
@import './scss/App.scss';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
